.filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    border: 3px solid black;
}

.filterHeader{
    font-size: 17px;
    font-weight: 700;
    color: azure;
}

.filterByYear{
    background-color: aqua;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    color: black;
    font-size: 0.9rem;
    font-weight: 600;
    border: 2px solid rgb(248, 176, 19);
}
option{
    color: black;
    background-color: wheat;
    border: 1px solid wheat;
    border-radius: 0.2rem;
    padding: 0.5rem;
}